:root{
    --ff-sans: "Poppins", sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
    --color-neutral1: hsl(234, 12%, 34%);
    --color-neutral2: hsl(229, 6%, 66%);
    --color-neutral3: hsl(0, 0%, 98%);
    --color-primary-red: hsl(0, 78%, 62%);
    --color-primary-cyan: hsl(180, 62%, 55%);
    --color-primary-orange: hsl(34, 97%, 64%);
    --color-primary-blue: hsl(212, 86%, 64%);



}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral2);
}

h1 {
    font-weight: var(--fw-normal);
    text-align: center;
    
}
h1, h2 {
    color: var(--color-neutral1);

}

.container {
    text-align: center;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    justify-content: space-around;
   
}

.box-header{
    max-width: 550px;
    margin: 0 auto; 
}
.cards {
    max-width: 1000px; 
    margin: 0 auto; 
    
}

.card img{
    width: 40px;
    height: 40px;
    align-self: flex-end;
}
h1:first-of-type{
    font-weight: var(--fw-light);
    color:var(--color-neutral2);

}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; 
    width: 100%;
   
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2%;
    border-width: 3px;   
    border-top: 5px solid transparent; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
    text-align: left;
    font-size: small;
    padding: 20px;
    
}

.card-1 {
    grid-column: 1;
    grid-row: 2 / span 2;
    border-top-color: var(--color-primary-cyan);
}

.card-2 {
    grid-column: 2;
    grid-row: 1 / span 2; 
    border-top-color: var(--color-primary-red);
}

.card-3 {
    grid-column: 2;
    grid-row: 3 / span 2; 
    border-top-color: var(--color-primary-orange);
}

.card-4 {
    grid-column: 3;
    grid-row: 2 / span 2;
    border-top-color: var(--color-primary-blue);
}

/*responssiviness */
@media screen and (max-width: 375px) {
    .container {
        
        align-items: center;
        justify-content: center;
        height: auto;
        margin:50px
        
    }

    .cards {
        grid-template-columns: 1fr;
       margin-top: 40px;
        gap: 15px;
        
    }

    .card {
        grid-row: auto;
        grid-column: auto;
        font-size: smaller;
    }

    h1 {
       margin-bottom: 10px;
       font-size: large;
       font-weight: var(--fw-bold);
    }
}
.text-card{
    margin-bottom: 20px;
}